$postImageWidth: 250px;
$postImageHeight: 150px;

.container {
  width: 600px;
  padding: 1rem 0;
  border-bottom: 1px #ced4da solid;
  display: flex;
  flex-direction: column;
  align-items: center;

  .defaultAuthorImageContainer {

    .defaultAuthorImage {
        width: 20px;
        height: 20px;
        color: black;
      }
  }
  :last-child {
    border: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    :first-child {
      margin-right: 10px;
    }

    .authorImage {
      height: 30px;
      width: 30px;
      border-radius: 30px;
    }
  }

  .introduction {
    cursor: pointer;
    width: 100%;
    display: flex;
    :first-child {
      margin-right: 10px;
    }
    .postImage {
      width: 250px;
      height: 150px;
    }

    .introductionText {
      width: calc(100% - $postImageWidth);
      display: flex;
      flex-direction: column;
      text-align: left;
      h2 {
        margin: 0;
      }
      p {
        margin: 10px 0;
      }
    }
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      margin-right: 10px;      
    }
    h5 {
      text-align: justify;
      font-weight: inherit;
      margin: 0;
    }
  }
  
  @media screen and (max-width: 900px) {
    width: 70%;
  }

  @media screen and (max-width: 740px) {
    width: 80%;
  }

  @media screen and (max-width: 650px) {
    width: 90%;
    .introduction {
      width: 100%;
      display: flex;
      .postImage {
        width: 250px;
        height: 150px;
      }

      .introductionText {
        width: 50%;
      }
    }
  }
  @media screen and (max-width: 500px) {
    width: 100%;

    .introduction {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .postImage {
        margin: 0;
        width: 100%;
        height: 200px;
      }
      .introductionText {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 400px) {
    width: 100%;

    .introduction {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .postImage {
        margin: 0;
        width: 100%;
        height: $postImageHeight;
      }
      .introductionText {
        width: 100%;
      }
    }
  }
}

//responsiveness
