$postImageWidth: 250px;
$postImageHeight: 150px;

.container {
  width: 600px;
  padding-bottom: 1rem;
  border-bottom: 1px rgba($color: #ced4da, $alpha: 0.6) solid;
  display: flex;
  flex-direction: column;
  align-items: center;

  .defaultAuthorImageContainer {

    .defaultAuthorImage {
        width: 20px;
        height: 20px;
        color: black;
      }
  }
  :last-child {
    border: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    :first-child {
      margin-right: 10px;
    }

    .authorImage {
      height: 30px;
      width: 30px;
      border-radius: 30px;
    }
  }

  .introduction {
    cursor: pointer;
    width: 100%;
    display: flex;

    .postImage {
      border-radius: 5px;
      width: 250px;
      height: 100%;
    }

    .introductionText {
      margin-left: 10px;
      width: calc(100% - $postImageWidth);
      display: flex;
      flex-direction: column;
      text-align: left;
      h2 {
        margin: 0;
      }
      p {
        opacity: 0.6;
        font-weight: 500;
      }
    }
    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      height: 100%;
      justify-content: flex-start;
    }
    .info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      div {
        display: flex;
        div {
          margin-left: 10px;
        }
      }
      small {
        text-align: justify;
        font-style: italic;
        font-weight: 500;
        margin-right: 10px;
      }
    }
  }

  
  
  @media screen and (max-width: 900px) {
    width: 70%;
  }

  @media screen and (max-width: 740px) {
    width: 80%;
  }

  @media screen and (max-width: 650px) {
    width: 90%;
    .introduction {
      width: 100%;
      display: flex;
      .postImage {
        width: 250px;
        height: 150px;
      }

      .introductionText {
        width: 50%;
      }
    }
  }
  @media screen and (max-width: 500px) {
    width: 100%;

    .introduction {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .postImage {
        border-radius: 10px;
        margin: 0;
        width: 100%;
        height: 200px;
      }
      .introductionText {
        width: 100%;
        h2 {
          margin-top: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    width: 100%;

    .introduction {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .postImage {
        margin: 0;
        width: 100%;
        height: $postImageHeight;
      }
      .introductionText {
        width: 100%;
      }
    }
  }
}

//responsiveness
