.menu {
  position: absolute;
  top: 100px;
  margin-top: 4rem;
  right: 2rem;
  background: rgba($color: #E5E5E5, $alpha: 0.9);
  width: 405px;
  border-radius: 0 0 10px 10px;
  h5 {
    width: 100%;
    text-align: center;
  }
  @media screen and (max-width: 450px) {
    position: none;
    align-self: center;
    right: 5%;
    left: 5%;
    width: 90%;
  }
}

.container {
  cursor: pointer;
  margin: 0.5rem 10px;
  padding: 0.5rem;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px rgba($color: #0000, $alpha: 0.15) solid;
  &:hover {
    background: rgba($color: #E5E5E5, $alpha: 0.6);
    filter: brightness(0.8);
  }
  .thumbnail {
    width: 80px;
    height: 100%;
  }
  div{
    margin-left: 10px;
    transition: filter 0.2s;
    p{
      margin: 0;
      font-weight: bold;
    }
  }
}

.displayNone {
  display: none;
}