.menu {
  position: absolute;
  top: 100px;
  margin-top: 4rem;
  right: 2rem;
  background: rgba($color: #E5E5E5, $alpha: 0.9);
  width: 405px;
  border-radius: 0 0 10px 10px;
  @media screen and (max-width: 450px) {
    position: none;
    align-self: center;
    right: 5%;
    left: 5%;
    width: 90%;
  }
}

@media screen and (max-width: 450px){
  
}


.container {
  margin: 1rem 10px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px rgba($color: #0000, $alpha: 0.15) solid;
  .thumbnail {
    width: 80px;
    height: 100%;
    margin-bottom: 10px;
  }
  div{
    margin-left: 10px;
    margin-bottom: 10px;
    p{
      margin: 0;
      font-weight: bold;
    }
  }
}

.displayNone {
  display: none;
}