.container {
  background-color: #E5E5E5;
  filter: opacity(0.8);
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  .text {
    margin: 0;
    margin-right: 0;
  }
}