.container {
  display: flex;
  flex-direction: row;
  background-color: #14213d;
  color: #e5e5e5;
  height: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  h1 {
    width: 50%;
    text-align: start;
  }
  
  button {
    width: 30px;
    height: 30px;
    border: none;
    justify-self: flex-start;
    margin-left: 1rem;
  }
  p{
    margin: 0;
  }
  button {
    display: none;
    @media screen and (max-width: 300px){
      display: inline;
      
    }
  }
  .menu {
    width: 50%;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;

    @media screen and (max-width: 400px){
      display: none;
    }
    
    .item {
      cursor: pointer;
      text-decoration: none;
      margin: 0 1rem;

      &:hover {
        color: #fca311;
      }
    }
  }
}