.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .formGroup {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    input {
      width: 100%;
      padding: 1rem 10px;
      border-radius: 5px;
      border: 1px black solid;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .smallAuth {
      margin-top: 1rem;
      cursor: pointer;
      color: gray;
      border-bottom: 0.5px gray solid;
    }

    .errorMessage {
      padding-bottom: 1rem;
      align-self: flex-start;
      color: red;
    }
  }
  
}

.nextButton {
  margin-top: 2rem;
  background: #fca311;
  border: none;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.title {
  text-align: center;
}