.container {
  width: 100%;
  display: flex;
  justify-content: center;
  .formGroup {
    position: absolute;
    top: 25%;
    width: 405px;
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 1rem;
    }
    .smallAuth {
      margin-top: 1rem;
      cursor: pointer;
      color: gray;
      border-bottom: 0.5px gray solid;
    }

    .errorMessage {
      padding-bottom: 1rem;
      align-self: flex-start;
      color: red;
    }
    @media screen and (max-width: 450px) {
      width: 90%;
    }
  }
  
}

.nextButton {
  margin-top: 2rem;
  background: #fca311;
  border: none;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.title {
  text-align: center;
}