html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  .responseMessageFailure, .responseMessageSuccess {
    margin-top: 1rem;
    position:fixed;
    right: 0;
    width: 200px;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
  }
  
  .responseMessageSuccess {
    background-color: rgba(0, 128, 0, 0.6);
  }
  
  .responseMessageFailure {
    background-color: rgba(242, 0, 0, 0.6);
  }

  @media screen and (max-width: 824px){
    padding: 0;
    margin: 0;
    h1 {
      font-size: 1.6rem;
    }
    h4 {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 618px){
    padding: 0;
    margin: 0;
    h1 {
      font-size: 1.2rem;
    }
    h4 {
      font-size: 0.68;
    }
    p {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 550px) {
    h2 {
      font-size: 1.3rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
