.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .featuredArticles {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      width: 50%;
      text-align: justify;
    }
  }

  :last-child {
    border: none;
  }
}

.introductionContainer {  
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  .introductionTitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 6rem;
  }
  
  div {
    display: flex;
    align-items: center;
    width: 60%;
    flex-direction: row;
    div {
      display: flex;
      flex-direction: column;
      margin-left: 2rem;
    }
    
  }
}

.nextButton {
  margin-top: 2rem;
  background: #fca311;
  border: none;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}