.container {
  display: flex;
  flex-direction: column;
  .searchBarGroup{
    display: flex;
    width: 405px;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 1rem;
    .searchBar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;
      border: 1px #fca311 solid;
      border-radius: 5px;

      input {
        background: none;
        border: none;
        padding: 10px 10px;
        outline: none;
      }
      .searchIcon {
        width: 25px;
        height: 25px;
        cursor: pointer;
        margin-right: 10px;
        color: #fca311;
        transition: filter 0.2s;
        &:hover {
          filter: brightness(0.8);
        }
      }
    }
    @media screen and (max-width: 500px) {
      display: flex;
      margin-right: 0;
      align-self: center;
      width: 90%;
    }
  }
  .articlesContainer {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      width: 600px;
      text-align: left;
      margin: 0;
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }

    @media screen and (max-width: 900px) {
      h1 {
        width: 70%;
      }
    }

    @media screen and (max-width: 740px) {
      h1 {
        width: 80%;
      }
    }

    @media screen and (max-width: 650px) {
      h1 {
        width: 90%;
      }
    }
    @media screen and (max-width: 500px) {
      width: 90%;
      align-self: center;
      align-items: flex-start;
      .searchBar {
        border-radius: 5px;
      }
    }
  }

  :last-child {
    border: none;
  }

  .introductionContainer {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .introductionTitle {
      text-align: center;
      margin-top: 0;
      margin-bottom: 6rem;
    }
    
    div {
      display: flex;
      align-items: center;
      width: 60%;
      flex-direction: row;
      div {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
      }
      
    }
  }
}

.nextButton {
  margin-top: 2rem;
  background: #fca311;
  border: none;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}