

.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .stepOne, .stepTwo {
    align-items: center;
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .stepOne {
    
    .topics {
      width: 100%;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      border: 1px black solid;
      padding: 10px;

      .contentType {
        padding-top: 10px;
      }

      .chooseTopics {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        button {
          cursor: pointer;
          padding: 0.5rem 1rem;
          background-color: black;
          border: none;
          border-radius: 5px;
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  input {
    width: 100%;
    padding: 1rem 10px;
    border-radius: 5px;
    border: 1px black solid;
  }

  .nextButton {
    margin-top: 2rem;
    background: #fca311;
    border: none;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.topicModal {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  .content {
    h1 {
      text-align: center;
    }
    span {
      align-self: flex-end;
      &:hover{
        color: red;
        cursor: pointer;
      }
    }
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    border: 1px black solid;
    background: #fff;

  }
}

.contentType {
  display: flex;
}
.marginItems {
  margin-right: 5px;
}

.nextButton {
  margin-top: 2rem;
  background: #fca311;
  border: none;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.customSmall {
  padding-left: 10px;
  color: black;
  opacity: 0.5;
}

.pageButtons {
  width: 30%;
  display:  flex;
  justify-content: space-between;
  align-content: space-between;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  .stepThree {
    display: flex;
    .title {
      color: #14213D;
      padding-bottom: 1rem;
   }
    div {
      padding-right: 1rem;
      margin: 0 1rem;
      .editor {
        border: none;
        outline: none;
        resize: none;
        border-right: 1px solid #E5E5E5;
      }
    }
  }
  .pageButtons {
    align-self: center;
  }
}