.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .stepOne, .stepTwo {
    align-items: center;
    width: 280px;
    display: flex;
    flex-direction: column;
  }

  .stepOne {
    .description {
      padding: 10px;
      margin: 1rem;
      width: 100%;
      height: 10rem;
      width: 100%;
      border-radius: 5px;
      resize: none;
    }

    .topics {
      width: 100%;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      border: 1px black solid;
      padding: 10px;

      .contentType {
        padding-top: 10px;
      }

      .chooseTopics {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        button {
          cursor: pointer;
          padding: 0.5rem 1rem;
          background-color: black;
          border: none;
          border-radius: 5px;
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  .stepTwo {
    input {
      cursor: pointer;
    }

    ::-webkit-file-upload-button {
      cursor: pointer;
      font-weight: bold;
      background: none;
      border: none;
      border-right: 1px black solid;
      
    }
  }

  input {
    margin: 1rem;
    width: 100%;
    padding: 1rem 10px;
    border-radius: 5px;
    border: 1px black solid;
    font-size: 1rem;
  }

  textarea {
    font-size: 1rem;
  }
  .pageButtons {
    margin-top: 1rem;
    width: 30%;
    display:  flex;
    justify-content: space-between;
    align-content: space-between;
  }
  @media screen and (max-width: 1000px) {
    .stepOne, .stepTwo {
      align-items: center;
      width: 40%;
      display: flex;
      flex-direction: column;
    }
  }
  @media screen and (max-width: 550px) {
    .stepOne, .stepTwo {
      align-items: center;
      width: 280px;
      display: flex;
      flex-direction: column;
    }
  }
}

.topicModal {
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  .content {
    h1 {
      text-align: center;
    }
    span {
      align-self: flex-end;
      &:hover{
        color: red;
        cursor: pointer;
      }
    }
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 100%;
    border: 1px black solid;
    background: #fff;

  }
}

.contentType {
  display: flex;
}
.marginItems {
  margin-right: 10px;
  display: flex;
  align-items: center;
  .removeTopicButton {
    margin-left: 5px;
    cursor: pointer;
  }
}

.nextButton {
  margin-top: 2rem;
  background: #fca311;
  border: none;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}

.customSmall {
  padding-left: 10px;
  color: black;
  opacity: 0.5;
}

.contentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  .header {
      text-align: center;
      .title {
        padding-bottom: 1rem;
      }
  }
  .stepThree {
    width: 100%;
    height: 500px;
    display: flex;

    .type {
      text-align: center;
      color: #14213D;
      padding-bottom: 1rem;
   }
    .border {
      border-right: 1px solid #E5E5E5;
    }

    div {
      padding-right: 1rem;
      margin: 0 1rem;
      
    }
    .editorGroup {
      width: 50%;
      .editor {
        height: 80%;
        width: 100%;
        border: none;
        outline: none;
        resize: none;
      }
    }
    .markdownGroup {
      width: 50%;
      .markdown {
        height: 80%;
        overflow-y: scroll;
      }
    }
  }
  .pageButtons {
    align-self: center;
    margin-bottom: 1rem;
  }
  .errorMessage {
    text-align: center;
  }
}

.errorMessage {
  margin-top: 1rem;
  color: red;
}

.loader {
  padding: auto;
}