.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;

  label {
    opacity: 0.5;
  }
  .profileImage {
    width: 150px;
    height: 150px;
    border-radius: 150px;
  }
  .avatarContainer {
    display: flex;
    align-items: flex-end;
    .avatarIcon {
      width: 150px;
      height: 150px;
      opacity: 0.5;
    }

    .editAvatarCircle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 40px;
      background: #14213d;
      cursor: pointer;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.6);
      }

      ::-webkit-file-upload-button {
        background: none;
        border: none;
        cursor: pointer;
      }
      

      .editAvatarIcon {
        width: 25px;
        height: 25px;
        color: white;
      }
    }
  }

  .inputGroup {
    width: 260px;
    margin: 1rem 0;

    input {
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  }
  
  .editButtons {
    display: flex;
    justify-content: space-between;
    #saveChangesButton {
      background: #fca311;
    }

    #editProfileButton {
      background: #14213d;
    }
    
  }
  #logout {
    width: 260px;
    background: #e5989b;
  }
  .logoutModal {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

#editProfileButton, #saveChangesButton, #logout {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 40%;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}